/* --- GENERAL --- */

@font-face {
  font-family: "Madina";
  src: url("./fonts/Madina.ttf");
}

:root {
  --dark-green: #38785d;
  --light-green: #a3c6a3;
  --gold: #dcbb57;
  --background: white;
  --handwritten-font: "Madina";
}

body {
  font-family: "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  scroll-behavior: smooth;
  background: var(--background);
}


/* --- OWN CLASSES --- */

.fancy-text {
  font-family: var(--handwritten-font);
}

.scroll-top-fix {
  scroll-margin-top: 20vh;
}


/* --- STANDARD ELEMENT STYLING --- */

h1 {
  font-family: var(--handwritten-font);
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  color: var(--gold);
}

h1::before,
h1::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1::before {
  right: 0.5em;
  margin-left: -50%;
}

h1::after {
  left: 0.5em;
  margin-right: -50%;
}

a {
  text-decoration: none;
}


/* --- IMAGE CAROUSEL --- */

.carousel-item img {
  width: 100%;
  height: 600px;
  max-height: 75vh;
  object-fit: cover;
}

.carousel-text-large {
  font-family: var(--handwritten-font);
  font-style: regular;
  font-size: 80px;
  text-shadow: var(--gold) 1px 0 10px;
}

.carousel-text-small {
  font-family: var(--handwritten-font);
  font-size: 40px;
  text-shadow: var(--gold) 1px 0 10px;
}


/* --- NAVBAR (variant 1) --- */

.navbar {
  background-color: var(--light-green);
}

.nav-link {
  font-weight: 400;
  color: var(--dark-green);
}


/* --- NAVBAR (variant 2) --- */

/* .navbar {
  background-color: var(--dark-green);
  border-color: var(--gold);
  border-style: double none double none;
  border-width: 3px;
}

.nav-link {
  font-weight: 400;
  color: var(--gold);
} */


/* --- TIMELINE --- */

.timeline {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -2px;
  border-right: 2px solid var(--gold);
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  font-size: 1.5rem;
}

.timeline-row .timeline-content {
  font-size: 0.9em;
  position: relative;
  padding: 20px 30px;
  background: var(--light-green);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: var(--light-green);
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -49px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background: var(--background);
  border: 2px solid var(--gold);
}

.timeline-row .timeline-content .timeline-title {
  font-size: 1.3em;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin: 0;
  line-height: 150%;
  width: 100%;
}

.timeline-row:nth-child(even) .timeline-content {
  margin-left: 41px;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

@media (max-width: 1000px) {
  .timeline {
    padding: 15px;
  }

  .timeline:after {
    border: 0;
  }

  .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }

  .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }

  .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }

  .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }

  .timeline .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }

  .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}


/* --- FOOTER --- */

footer {
  background-color: var(--light-green);
  padding-top: 0.5em;
  width: 100%;
}


/* --- ICONS --- */

.icon-rings {
  content: url('img/icon-rings.png');
  height: 2em;
  width: 2em;
}

.icon-champagne {
  content: url('img/icon-champagne.png');
  height: 2em;
  width: 2em;
}

.icon-camera {
  content: url('img/icon-camera.png');
  height: 2em;
  width: 2em;
  display: inline-flexbox;
}