@font-face {
  font-family: "Madina";
  src: url("./fonts/Madina.ttf");
}

:root {
  --green: rgb(163, 198, 163);
  --gold: #dcbb57;
  --handwritten-font: "Madina";
}

/* Style the body */
body {
  font-family: "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;

  scroll-behavior: smooth;
}

.fancy-text {
  font-family: var(--handwritten-font);
}

.scroll-top-fix {
  scroll-margin-top: 20vh;
}

/* Navbar */
.navbar {
  background-color: var(--green);
}

/* Headings have */
h1 {
  font-family: var(--handwritten-font);
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  color: var(--gold);
}

h1::before,
h1::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1::before {
  right: 0.5em;
  margin-left: -50%;
}

h1::after {
  left: 0.5em;
  margin-right: -50%;
}

.carousel-item img {
  width: 100%;
  height: 600px;
  max-height: 75vh;
  object-fit: cover;
}

.carousel-text-large {
  font-family: var(--handwritten-font);
  font-style: regular;
  font-size: 80px;
  text-shadow: var(--gold) 1px 0 10px;
}

.carousel-text-small {
  font-family: var(--handwritten-font);
  font-size: 40px;
  text-shadow: var(--gold) 1px 0 10px;
}

.nav-link {
  font-weight: 400;
}